# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables and secrets
.env
.streamlit/secrets.toml

# Large datasets
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/*.pkl
models/*.joblib

# Operating system files
.DS_Store

# IDE settings
.vscode/
.idea/